includes:
    - phar://phpstan.phar/conf/config.level0.neon

parameters:
    ignoreErrors:
        # types likely not loaded in library
        - '#Parameter \$event of .* has invalid typehint type Composer\\Script\\Event\.#'
