# default config for phpstan
#
# more infos: vendor/bin/phpstan analyze --help

parameters:
    level: 0 # higher when all is fixed
    paths:
      - src/
      - tests/
    autoload_files:
      - src/CodeStyle/PhpStanDummy/LoadFallbackClasses.php

    ignoreErrors:
        # types likely not loaded in library
        - message: '#Parameter \$event of .* has invalid typehint type Composer\\Script\\Event\.#'
          path: src/ComposerCommands.php
          count: 1
